<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
		<section name="endpoints" type="HL7Fuse.Hub.Configuration.EndPointConfigurationHandler, HL7Fuse.Hub"/>
		<section name="messageRouting" type="HL7Fuse.Hub.Configuration.HL7RoutingRulesConfigurationHandler, HL7Fuse.Hub"/>
	</configSections>
	<appSettings>
		<add key="ServiceName" value="HL7Fuse"/>
		<add key="CommunicationName" value="HL7Fuse"/>
		<add key="EnvironmentIdentifier" value="Development"/>

		<!-- Handle each Hl7 message as separate event or use a MessageFactory class. The default is false -->
		<add key="HandleEachMessageAsEvent" value="false"/>
		<!-- Send a positive ACK message instead of an error when a message handler is not implemented. The default is false -->
		<add key="AcceptEventIfNotImplemented" value="true"/>
		
		<!-- Settings for HL7Fuse.Hub -->
		<add key="SendRetryPause" value="1000"/> <!-- Milliseconds to wait before retrying to deliver message to the endpoint -->
		<add key="SendRetryCount" value="10"/> <!-- Number of retries per message -->
	</appSettings>
	<superSocket>
		<servers>
			<server name="HL7Fuse" serverTypeName="MLLPServer" ip="Any" port="2020" maxRequestLength="2048" maxConnectionNumber="100"> <!-- add attribute security="ssl" (or value tls) to enable an encrypted connection -->
<!--				<certificate filePath="localhost.pfx" password="supersocket"></certificate>
-->
				<commandAssemblies>
					<add assembly="HL7Fuse.Hub" />
				</commandAssemblies>
			</server>
<!--			<server name="TestReceiver" serverTypeName="MLLPServer" ip="Any" port="4040" maxConnectionNumber="100">
			</server> -->
		</servers>
		<serverTypes>
			<add name="MLLPServer" type="HL7Fuse.MLLPServer, HL7Fuse"/>
		</serverTypes>
	</superSocket>
	<endpoints>
		<FileEndpoint name="TestFileEndPoint" targetDirectory="c:\data\t"  />

		<!--
        The HL7 over HTTP client is according to the following specs:
        http://hl7api.sourceforge.net/hapi-hl7overhttp/specification.html#a1.3_HTTP_Response_Codes
		-->
<!--		<HttpEndPoint name="TestHttpEndPoint" serverUri="http://yourserver/HL7Service" serverCommunicationName="TestServer2" serverEnvironment="Development" />
		<HttpEndPoint name="TestHttpEndPoint2" serverUri="http://localhost:1057/Default.aspx" serverCommunicationName="TestServer2" serverEnvironment="Development" acceptAllSSlCertificates="true" />
-->
<!--		<SSLEndPoint name="TestSSLEndPoint" host="localhost" port="4050" serverCommunicationName="TestServer2" serverEnvironment="Development" clientSideCertificatePath="\path\to\cert.pfx" clientSideCertificatePassword="certificatePW" />
-->
	</endpoints>
	<messageRouting>
		<rule endpoint="TestFileEndPoint">
			<include hl7Version="2.3" structurename="SIU_*" />
<!--			<exclude hl7Version="2.3" structurename="SIU_S12" /> -->
		</rule>
	</messageRouting>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<runtime>
		<gcServer enabled="true" />
	</runtime>
</configuration>
