<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="nHapi" version="2.4.0.10" targetFramework="net45" />
  <package id="NHapiTools" version="1.6.0.1" targetFramework="net45" />
  <package id="SuperSocket" version="1.6.4" targetFramework="net45" />
</packages>