<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.14" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Xml" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="6.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net461" />
  <package id="nhapi" version="3.1.1" targetFramework="net46" />
  <package id="NHapiTools" version="2.0.3" targetFramework="net461" />
  <package id="SuperSocket.Common" version="1.6.7" targetFramework="net461" />
  <package id="SuperSocket.Facility" version="1.6.7" targetFramework="net461" />
  <package id="SuperSocket.SocketBase" version="1.6.7" targetFramework="net461" />
  <package id="SuperSocket.SocketEngine" version="1.6.7" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Xml" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>