<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- system.diagnostics section is not supported on .NET 6 (see https://github.com/dotnet/runtime/issues/23937)-->
    <!--<system.diagnostics>
  <trace>
    <listeners>
      <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
        <filter type="" />
      </add>
    </listeners>
  </trace>
</system.diagnostics>-->
    <configSections>
        <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
        <section name="endpoints" type="HL7Fuse.Hub.Configuration.EndPointConfigurationHandler, HL7Fuse.Hub" />
        <section name="messageRouting" type="HL7Fuse.Hub.Configuration.HL7RoutingRulesConfigurationHandler, HL7Fuse.Hub" />
    </configSections>
    <appSettings>
        <add key="ServiceName" value="HL7Fuse" />
        <add key="CommunicationName" value="HL7Fuse" />
        <add key="EnvironmentIdentifier" value="Development" />
        <!-- Handle each Hl7 message as separate event or use a MessageFactory class. The default is false -->
        <add key="HandleEachMessageAsEvent" value="false" />
        <!-- Send a positive ACK message instead of an error when a message handler is not implemented. The default is false -->
        <add key="AcceptEventIfNotImplemented" value="true" />
        <!-- Settings for HL7Fuse.Hub -->
        <add key="SendRetryPause" value="1000" />
        <!-- Milliseconds to wait before retrying to deliver message to the endpoint -->
        <add key="SendRetryCount" value="10" />
        <!-- Number of retries per message -->
        <!-- Message handler to use for the HL7Fuse.Hub -->
        <!--<add key="HubMessageHandler" value="SomeApplication.Class, Assembly"/>-->
    </appSettings>
    <superSocket>
        <servers>
            <server name="HL7Fuse" serverTypeName="MLLPServer" ip="Any" port="2020" maxRequestLength="2048" maxConnectionNumber="100">
                <!-- add attribute security="ssl" (or value tls) to enable an encrypted connection -->
                <!--<certificate filePath="localhost.pfx" password="supersocket"></certificate>
				-->
                <commandAssemblies>
                    <add assembly="HL7Fuse.Hub" />
                </commandAssemblies>
            </server>
            <server name="HL7FuseFile" serverTypeName="FileServer" incomingDirectory="..\..\..\Test Files\Incoming" outgoingDirectory="..\..\..\Test Files\Outgoing" backupDirectory="..\..\..\Test Files\Processed" errorDirectory="..\..\..\Test Files\Error" fileMask="*.hl7" pollTime="1000" ip="127.0.0.1" port="1000">
                <commandAssemblies>
                    <add assembly="HL7Fuse.Hub" />
                </commandAssemblies>
            </server>
            <!--			<server name="TestReceiver" serverTypeName="MLLPServer" ip="Any" port="4040" maxConnectionNumber="100">
			</server> -->
        </servers>
        <serverTypes>
            <add name="MLLPServer" type="HL7Fuse.MLLPServer, HL7Fuse" />
            <add name="FileServer" type="HL7Fuse.FileServer, HL7Fuse" />
        </serverTypes>
    </superSocket>
    <endpoints>
        <FileEndpoint name="TestFileEndPoint" targetDirectory="c:\data\t" />
        <!--
		<MLLPClientEndPoint name="MLLPEndPoint" host="localhost" port="4050" serverCommunicationName="TestServer2" serverEnvironment="Development" />
		
        The HL7 over HTTP client is according to the following specs:
        http://hl7api.sourceforge.net/hapi-hl7overhttp/specification.html#a1.3_HTTP_Response_Codes
		-->
        <!--		<HttpEndPoint name="TestHttpEndPoint" serverUri="http://yourserver/HL7Service" serverCommunicationName="TestServer2" serverEnvironment="Development" />
		<HttpEndPoint name="TestHttpEndPoint2" serverUri="http://localhost:1057/Default.aspx" serverCommunicationName="TestServer2" serverEnvironment="Development" acceptAllSSlCertificates="true" />
-->
        <!--		<SSLEndPoint name="TestSSLEndPoint" host="localhost" port="4050" serverCommunicationName="TestServer2" serverEnvironment="Development" clientSideCertificatePath="\path\to\cert.pfx" clientSideCertificatePassword="certificatePW" />
-->
    </endpoints>
    <messageRouting>
        <rule endpoint="TestFileEndPoint" routeOnValidRules="Any">
            <!-- routeOnValidRules is set to All by default -->
            <include hl7Version="*" structurename="*" />
            <!--			<exclude hl7Version="2.3" structurename="SIU_S12" /> -->
        </rule>
        <rule endpoint="TestFileEndPoint" routeOnValidRules="All">
            <include hl7Version="2.3" structurename="SIU_*" fieldFilter="MSH-3-1" fieldFilterValue="U*" />
        </rule>
    </messageRouting>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <runtime>
        <gcServer enabled="true" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.14.0" newVersion="2.0.14.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V23" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Base" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V231" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V24" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V25" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="SuperSocket.SocketBase" publicKeyToken="6c80000676988ebb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5.0" newVersion="1.6.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="SuperSocket.Common" publicKeyToken="6c80000676988ebb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.6.5.0" newVersion="1.6.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V22" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V21" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V251" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V26" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V27" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V271" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V28" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="NHapi.Model.V281" publicKeyToken="d0d8ea960a3440eb" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.8.5.0" newVersion="5.8.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.4" newVersion="6.0.0.4" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.24.0.0" newVersion="1.24.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Hashing" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Configuration.Xml" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>